@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  background: $mainNeutral;
  /* background: $medGray; */
}
