.envolope {
  transform: scale(0.8);
  overflow: visible;

  &__cntr {
    padding: 0px 30px;
    &:hover {
      .envolope__tonge {
        &-shadow {
          transition: opacity 11ms 500ms;
          opacity: 0;
        }
        &-path {
          transform: translate(-7.6%, -50%);
          transition: all 500ms ease;
          d: path("M13.38,50,98.15,12.82a4.67,4.67,0,0,1,3.7,0L186.62,50Z");
        }
      }
      .envolope__letter {
        transition: all 500ms 500ms ease;
        transform: translateY(-40%);
      }
    }
  }

  &__tonge {
    &-path {
      stroke: gray;
      stroke-with: 1px;
      stroke-linejoin: round;
    }
  }

  /* svg basics - layout: */
  .cls-1 {
    fill: none;
  }

  .cls-2,
  .cls-7 {
    fill: #c6dd7f;
  }

  .cls-2,
  .cls-3,
  .cls-4 {
    mix-blend-mode: multiply;
  }

  .cls-3,
  .cls-5 {
    fill: #e9ddb7;
  }

  .cls-4,
  .cls-6 {
    fill: #a6d0e4;
  }

  .cls-8 {
    fill: #ccc;
  }

  .cls-9 {
    fill: gray;
  }

  .cls-10 {
    fill: #f7f7f7;
  }

  .cls-11 {
    fill: #4d4d4d;
  }

  .cls-12 {
    fill: #f9b862;
  }

  .cls-13 {
    fill: #666;
  }

  .cls-14 {
    fill: #6383f7;
  }

  .cls-15 {
    fill: #a0a0a0;
  }

  .cls-16 {
    fill: url(#Alyssa);
  }

  .cls-17 {
    fill: #bdccd4;
  }
}
